<%= form_for @vehicle, html: { multipart: true } do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
<div class="field">
    <%= form.label :fuel_type %>
    <%= form.text_field :fuel_type %>
  </div>
  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>
<div class="field">
    <%= form.label :model %>
    <%= form.date_select :model, start_year: 1990, end_year: Time.now.year, discard_month: true %>
  </div>
<div class = "field">
<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select one!") %>
</div>
<div class="field">
    <%= form.label :vehicle_conditions %>
    <%= form.text_area :vehicle_conditions %>
  </div>
<div class = "field">
<%= form.file_field :avatar %>  
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
