<div class = "popular">
<% @popular.each do |vote| %>
<div class = "popular_image">
<%= image_tag vote.vehicle.avatar(:medium) %>
</div>
<div class = "popular_title">
<%= vote.vehicle.name %>
</div>
<% end %>
<div>
<%= link_to "New Vehicle", new_vehicle_path %>


<br>
<div class = "category">
<div class =" class " >
<% @cars.each do |car| %>
<%= car.name %>
<%= image_tag car.avatar(:medium) %>
<% end %>
</div>
<div>
<% @suvs.each do |suv| %>
<%= suv.category.name %>
<%= suv.name %>
<%= image_tag suv.avatar(:medium) %>
<% end %>
</div>
<div class = "buses">
<% @bus.each do |bus| %>
<%= bus.category.name %>
<%= bus.name %>
<%= image_tag bus.avatar(:medium) %>
<% end %>
</div>
<div class = "trucks">
<% @trucks.each do |truck| %>
<%= truck.category.name %>
<%= truck.name %>
<%= image_tag truck.avatar(:medium) %>
<% end %>
</div>
