<div class = "popular">
<% @popular.each do |vote| %>
<div class = "popular_image">
<%= image_tag vote.vehicle.avatar(:medium) %>
</div>
<div class = "popular_title">
<%= vote.vehicle.name %>
</div>
<% end %>
<div>
<%= link_to "New Vehicle", new_vehicle_path %>


<br>
<% @cars.each do |car| %>
<%= car.name %>
<%= image_tag car.avatar(:medium) %>
<% end %>