<section>
<div class = "popular">
<% @popular.each do |vote| %>
<div class = "popular_image">
<%= image_tag vote.vehicle.avatar.url(:medium), size: "1440x500" %>
</div>
<div class = "popular_title">
<%= vote.vehicle.name %> <br>
<%= vote.vehicle.vehicle_conditions %>
</div>
<% end %>
<div>
<br>
<div class = "category d-flex">
<div class =" car " >
<% @cars.each do |car| %>
<div class = "car_image">
<%= image_tag car.avatar.url, size: "360x300" %>
</div>
<div class = "c_car">
<%= car.category.name %>
</div>
<div class = "car_name">
<%= car.name %>
</div>
<% end %>
</div>
<div class = "suvs">
<% @suvs.each do |suv| %>
<div class = "suvs_image">
<%= image_tag suv.avatar.url, size: "360x300" %>
</div>
<div class = "c_suvs">
<%= suv.category.name %>
</div>
<div class = "suvs_name">
<%= suv.name %>
</div>
<% end %>
</div>
<div class = "buses">
<% @bus.each do |bus| %>
<div class = "bus_image">
<%= image_tag bus.avatar.url, size: "360x300" %>
</div>
<div class = "c_bus">
<%= bus.category.name %>
</div>
<div class = "bus_name">
<%= bus.name %>
</div>
<% end %>
</div>
<div class = "trucks">
<% @trucks.each do |truck| %>
<div class = "truck_image">
<%= image_tag truck.avatar.url, size: "360x300" %>
</div>
<div class = "c_trucks">
<%= truck.category.name %>
</div>
<div class = "truck_name">
<%= truck.name %>
</div>
<% end %>
</div>
</div>
</section>