<footer class = " bg-warning">

<h2>Ethio-car</h2>

<div class = "terms">
<%= link_to "Privacy $ policy", vehicles_path %>
<%= link_to "Terms $ conditions", vehicles_path %>
<%= "Copyright 2014. All right reserved" %>
</div>
<div class = "social">
<p>Connect with us:</p>
<%= fa_stacked_icon "twitter", base: "circle-o", class: "fb" %>
<%= fa_stacked_icon "instagram", base: "circle-o", class: "fb" %>
<%= fa_stacked_icon "facebook", base: "circle-o", class: "fb" %>
</div>

</footer>