<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Ethio-Cars", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mr-5 float-left home">
<li><%= link_to "Home", root_path, class: "home" %></li>
<li><%= link_to "Cars", root_path(@cars) %></li>
<li><%= link_to "SUVs", root_path(@suvs) %></li>
<li><%= link_to "Buses", root_path %></li>
<li><%= link_to "Trucks", root_path %>  </li>
<li><%= link_to "Equipment", root_path %> </li>  
  <% if current_user %>
     <li>   <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
       <li> <%= link_to "Sign in", user_session_path %></li>
      <% end %>

</ul>  
 </div>
</div>
</nav>