<!DOCTYPE html>
<html>
  <head>
    <title>EthiopianCars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <meta property="og:description" content="Created a desktop-only app where a user can sign up and/or sign in, select categories, and upload vehicle images with specifications. A user can vote a vehicle interested in and the vehicle that has more votes displayed on the top of the home page.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class  = "bg-success">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class = "bg-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= render "layouts/navigation" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <br>
  </body>
</html>
